.ipad {
  background-color: black;
  height: 70vh;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #F5F5F7; */
}
.ipad-sec {
  background-color: #f5f5f7;
}

/* .ipad-banner > div {
  font-size: 100px;
  color: white;
} */
.ipad-sec > div {
  margin-bottom: 50px;
}
.cards-carol {
  /* width: 50vw; */
  border: 1px solid green;
  margin: auto;
  /* padding: 20px; */
  /* width: 90vw; */
  /* margin-left: 500px; */
}
.ipad-all-models {
  margin: auto;
  margin-left: 20vw;
}
.cards-carol > Carousel > Cards {
  margin-right: 25px;
}

.ipad-all-models > h2 {
  font-size: 32px;
  font-weight: 600;
  text-decoration: rgb(29, 29, 31);
  margin-bottom: 30px;
}
.ipad-all-models > h2 > span {
  color: #6e6e73;
}
/*7777777777777777777777777777777777777777777777777777*/

.ipad-access-models {
  margin: auto;
  margin-left: 20vw;
}

/* .access-cards-carol > Carousel > Access_Cards {
  margin-right: 10px;
} */

.ipad-access-models > h2 {
  font-size: 32px;
  font-weight: 600;
  text-decoration: rgb(29, 29, 31);
  margin-bottom: 30px;
}
.ipad-access-models > h2 > span {
  color: #6e6e73;
}

/*546555555555555555555555555555555555555555555555*/

.ipad-flash-models {
  margin: auto;
  margin-left: 20vw;
}

.flash-cards-carol > Carousel > Flash_card {
  margin-right: 20px;
}

.ipad-flash-models > h2 {
  font-size: 32px;
  font-weight: 600;
  text-decoration: rgb(29, 29, 31);
  margin-bottom: 30px;
}
.ipad-flash-models > h2 > span {
  color: #6e6e73;
}
.ipad-banner-cont > img {
  width: 100%;
}
.ipad-banner-cont {
  background-image: url("https://www.apple.com/v/ipad/home/bs/images/overview/holiday-2023/cny23_familypage_banner__f2ocdw1w53yq_large.jpg");
  width: 1380px;
  height: 584px;
  background-size: 1380px 584px;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ipad-banner-cont > h3 {
  color: #ffffff;
  font-size: 48px;
  line-height: 52px;
  font-weight: 600;
  margin-bottom: 10px;
}
.ipad-banner-cont > div {
  /* border: 1px solid red; */
  width: 30%;
}

.ipad-banner-cont > div > p {
  font-size: 21px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.ipad-banner-cont > p {
  font-size: 21px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.ipad-flash-2 {
  border: 1px solid green;
  /* width: 420px; */
  height: 500px;
  /* border: 1px solid green; */
  background-color: #ffffff;
  /* border-radius: 100px; */
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.Flash-card-2 {
  border: 1px solid green;
  width: 460px;
  height: 500px;
  /* border: 1px solid green; */
  background-color: #ffffff;
  /* border-radius: 100px; */
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
    justify-content: center;
    margin: auto;
}
.flash-2-img{
  border: 1px solid blue;
}

.ipad-video {
  /* height: 100px; */
  border: 1px solid green;
  justify-content: center;
  background-color: black;
  
}
.ipad-video > video {
  width: 67vw;
  margin: auto;
  /* object-fit: contain; */
}
.bg_banner_cont{
  /* background-image: url("https://www.apple.com/v/ipad/home/bs/images/overview/get-more/business__dhhbnntkcwuq_large.jpg"); */
  width: 1200px;
  height: 70vh;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bg_banner_cont > p{
  color: white;
}
.access-cards-carol{
  padding: 20px;
}
.flash-cards-carol{
  padding: 20px;
}
/* 66666666666666666666666666666666666666666666666 */
.ipad-flash-2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.ipad-flash-model-card{
  border: 1px solid red;
  padding: 20px;
  width: 500px;
  height: 500px;
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/ipad-card-50-compare-models-202203?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1664611622989");
  transition: transform 500ms ease-in-out;
}
.ipad-flash-model-card:hover{
  transform: scale(1.05);


}
.ipad-flash-model-card > p {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  text-align: left;

}
.ipad-flash-model-card-img > img{
  width: 100%;
}
.ipad-flash-model-card-2{
  border: 1px solid red;
  padding: 20px;
  width: 500px;
  height: 500px;
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/ipad-card-50-specialist-help-202211?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1671235795870");
  transition: transform 500ms ease-in-out;
}
.ipad-flash-model-card-2:hover{
  transform: scale(1.05);


}
.ipad-flash-model-card-2 > p {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  text-align: left;

}
.ipad-video-2content{
  text-align: center;
}
.ipad-video-2content > h3{
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;;

}
.ipad-video-2content > div > p{
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;



}
/* 666666666666666666666666666666666666666666666666666666666666 */
.ipad-grid-banner{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}