.cards-buy {
    border: 1px solid green;
    width: fit-content;
    margin: auto;
    padding: 6px 20px;
    border-radius: 100px;
    margin-top: 10px;
    background-color: #2997ff;
    cursor: pointer;
    
  }
  .cards-buy > a {
    color: white;
    font-size: larger;
    font-weight: 400;
    cursor: pointer;
  }
  